<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ScoreBoardon"
        tools:targetApi="31">
        <activity
            android:name=".TTCamScoreCollector"
            android:exported="false" />
        <activity
            android:name=".BMWinnerScreen"
            android:exported="false" />
        <activity
            android:name=".BMScoreCollector"
            android:exported="false" />
        <activity
            android:name=".BMScoreTracker"
            android:exported="false" />
        <activity
            android:name=".BMMatchForm"
            android:exported="false" />
        <activity
            android:name=".BBWinnerScreen"
            android:exported="false" />
        <activity
            android:name=".BBScoreCollector"
            android:exported="false" />
        <activity
            android:name=".BBMatchForm"
            android:exported="false" />
        <activity
            android:name=".FBWinnerScreen"
            android:exported="false" />
        <activity
            android:name=".FbScoreCollector"
            android:exported="false" />
        <activity
            android:name=".FBMatchForm"
            android:exported="false" />
        <activity
            android:name=".TossActivity"
            android:exported="false" />
        <activity
            android:name=".TTWinnerScreen"
            android:exported="false" />
        <activity
            android:name=".TTScoreCollector"
            android:exported="false" />
        <activity
            android:name=".TTMatchForm"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>